.container {
  max-width: 1800px;
  margin: 20px auto 80px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.container h3 {
  text-transform: uppercase;
}
.imageContainer h2 {
  max-height: 10%;
  margin: 0;
  background: #fff;
  display: inline-block;
  padding: 20px;
  position: relative;
  top: -40px;
  left: -10px;
  transform: rotateZ(-1deg);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}
.info p {
  margin: 0;
}
