.card {
  transform: rotateZ(-1deg);
}

.content {
  max-height: 40%;
  background: #fff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 0;
  position: relative;
  top: -40px;
  left: -10px;
}

.content h4 {
  margin: 16px 0 0 0;
  padding: 16px;
  text-transform: uppercase;
}
.priceContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.priceContainer p {
  margin: 5px;
}

.priceBefore {
  text-decoration: line-through;
  color: #777;
}

.price {
  font-weight: 800;
  color: #f01b29;
}
