.slider {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
}

.slideContainer {
  display: flex;
  height: 100%;
  transition: all ease 1s;
}
.slide {
  height: 100%;
  background-position: center;
  background-size: cover;
}

.arrow {
  opacity: 0%;
  height: 100%;
  width: 10%;
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 45px;
  color: #808080;
  z-index: 1;
  cursor: pointer;
}

.arrow:hover {
  opacity: 100%;
  transition: all ease 0.5s;
}

.arrowRight {
  right: 0;
}

.dotsContainer {
  position: absolute;
  top: 90%;
  right: 45%;
  display: flex;
  justify-content: center;
  gap: 5px;
  z-index: 1;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #808080;
  cursor: pointer;
  background: transparent;
}

/* @media (max-width: 768px) {
  .slider {
  padding: 0;
  width: 100%!important;
  }

  .slide {
  height: 100%;
  background-position: center;
  background-size:contain ;
  width: 100%!important;
}
} */
