:root {
  --nav-text-color: rgb(4, 4, 116);
  --nav-text-color-hover: rgba(6, 6, 145, 0.39);
  --background-color: #eee;
  --red-color: #cf2e2e;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  max-width: 100vw;
  overflow-x: hidden;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.draft-mode {
  background-color: orange;
  padding: 20px;
  text-align: center;
  font-weight: 500;
}

.draft-mode-exit-link {
  text-decoration: underline;
}

@media screen and (max-width: 1023px) {
  body {
    font-size: 1em;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 0.8em;
  }
}
