:root {
  --nav-text-color: rgb(4, 4, 116);
  --nav-text-color-hover: rgba(6, 6, 145, 0.39);
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  max-width: 100vw;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
