.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  height: 180px;
  background-image: url("/fondo-cabecera-pagina.jpg");
  justify-content: center;
  padding-left: 20%;
}
