.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imageContainer {
  height: 200px;
}

@media screen and (max-width: 1023px) {
  .imageContainer {
    height: 130px;
  }
}
