.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  height: 120px;
  background-image: url("/fondo-cabecera-pagina.jpg");
  justify-content: center;
  padding-left: 20%;
  padding-bottom: 1%;
}

.title h2 {
  text-transform: capitalize;
}

/* .block {
  margin: 50px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
} */
.imageContainer {
  height: 200px;
}

@media screen and (max-width: 1023px) {
  .block {
    flex-direction: column;
  }
  .imageContainer {
    height: 130px;
  }
}
