.container{
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #cf2e2e;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.infoContainer{
  display: flex;
  gap: 50px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  height: 1px; 
  width: 800px;
  color: #666;
  opacity: 50%;
  /* background-color: #666; */
} 

.bottom{
  display: flex;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}