.container a:hover {
  opacity: 0.5;
}

.container {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: var(--red-color);
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.infoContainer {
  display: flex;
  gap: 50px;
}

.infoContainer h4 {
  margin: 0;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nosotros p,
.titulo {
  text-align: center;
}

.separator {
  width: 90%;
  border-top: 1px solid var(--background-color);
  opacity: 0.8;
}

.bottom {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1023px) {
  .bottom {
    gap: 20px;
  }
  .logo {
    max-width: 70%;
    max-height: 70%;
  }
}

@media screen and (max-width: 767px) {
  .infoContainer {
    flex-direction: column;
    gap: 10px;
  }
  .bottom {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .logo {
    max-width: 70%;
    max-height: 70%;
  }
  .container {
    gap: 10px;
  }

  .container h1 {
    margin: 0;
  }
  .links {
    gap: 5px;
  }
}
