.carousel {
  margin: auto;
  width: 95vw;
  max-width: 1600px;
  :global(.carousel .slider-wrapper) {
    border-radius: 1%;
  }
  // :global(.thumbs) {
  //   display: flex;
  //   justify-content: center;
  // }
  :global(.thumb) {
    border: 3px solid transparent;
  }
  :global(.carousel .control-prev.control-arrow:before) {
    border-right: 8px solid black;
  }
  :global(.carousel .control-next.control-arrow:before) {
    border-left: 8px solid black;
  }
}
